*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*---------Header*--------*/

.header img{
    width: 100%;
    
    
}

/*navegacion*/
.navbar-nav .nav-item a{
    color: black;
    font-size: 20px;
    margin-left: 15px;
}

.textos{
    width: 100%;
    color: black;
    position: absolute;
    top: 50%;
    left: 20%;
    margin-top: -52px;
    
}
.textos .nombre{
    font-size: 50px;
    font-weight: 600;
}
.textos .nombre span{
    font-weight: 300;
}
.textos h3{
    width: auto;
    color:  black;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}
.card-marcas img{
    width: 150px;
}
.card .list-group {
    background-color:rgb(168, 165, 165);
}
.card .list-group li{
    border: none;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    background-color:rgb(168, 165, 165);
}
.card .list-group li i{
    border-radius: 50%;
    border: 1px rgb(70, 70, 240) solid;
    padding: 10px;
    color: rgb(70, 70, 240);
    font-size: 25px;
    
}
.card .list-group .info-general{
    background-color: rgb(31, 29, 29);
    color: white;
}
.card .list-group .info-general i{
    color:white ;
    border: 1px white solid;
    padding: 10px;
}
.mapa{
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.mapa iframe{
    width: 100%;
    max-height: 600px;
}


/*carrusel*/

/*-----------Main-----------*/

@media(max-width:2200px){
    .header img{
        width: 100%;
        height: auto;
        
    }
}
@media(max-width:978px){
    .textos{
        top:25%;
        font-size: 25px;
        margin: 0px auto;
        left: 3%;
    }
     .historia{
        font-size: 10px;
    }
}
@media(max-width:600px){
    .textos{
        top:13%;
        font-size:100px;
        left: 3%;
    }
    .textos h3
    {
        font-size: 20px;
    }
    .textos .nombre{
        font-size: 30px;
    }
}
@media(max-width:600px){
    .textos h3
    {
        font-size: 15px;
    }
    .textos .nombre{
        font-size: 30px;
    }
}

@media(max-width:575px){
    .card-marcas img{
        width: 250px;
    }
    .historia{
        font-size: 6px;
    }
}